h1 {
  margin-top: 25px;
  color: orangered;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

.btn-primary {
  position: relative;
  float: right;
  padding: 5px 20px;
  margin: 0;
  color: #ec6e4c;
  background: transparent;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 5px;
  border-color: #ec6e4c;
  font-weight: 500;
}
.btn-primary:hover {
  background: #ec6e4c;
  font-weight: 450;
  border: none;
  color: white;
}
.typebox {
  width: 550px;
  font-size: 15px;
  border-radius: 5px;
  border-color: #ec6e4c;
  padding: 5px 20px;
  border-style: solid;
  border-width: thin;
  box-shadow: none;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 30px auto;
}
.weather-app {
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  margin-top: -13px;
}
.weather-temperature strong {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  color: black;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temp {
  font-size: 13px;
}
